<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
>
    <testsuites>
        <testsuite name="InDret Theme Unit Tests">
            <directory>unit/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <file>../../functions.php</file>
        </include>
    </coverage>
</phpunit>
